In [7]:
import pandas as pd
auto_df = pd.read_csv("Auto.csv")
mpg_median = auto_df['mpg'].median()

# Create the binary variable mpg01
auto_df['mpg01'] = (auto_df['mpg'] > mpg_median).astype(bool)

primary_key_columns = ['year', 'name','weight']
auto_df['ID'] = auto_df[primary_key_columns].astype(str).agg('_'.join, axis=1)

auto_df.to_csv("answer0.csv",index=False)

In [2]:
auto_df = auto_df.set_index(['ID'])
auto_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,mpg01
ID,,,,,,,,,,
70_chevrolet chevelle malibu_3504,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,False
70_buick skylark 320_3693,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,False
70_plymouth satellite_3436,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,False
70_amc rebel sst_3433,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,False
70_ford torino_3449,17.0,8,302.0,140,3449,10.5,70,1,ford torino,False
...,...,...,...,...,...,...,...,...,...,...
82_ford mustang gl_2790,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,True
82_vw pickup_2130,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,True
82_dodge rampage_2295,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,True
82_ford ranger_2625,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,True
82_chevy s-10_2720,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,True

In [11]:
auto_df[['mpg01','cylinders']]

     mpg01  cylinders
0    False          8
1    False          8
2    False          8
3    False          8
4    False          8
..     ...        ...
392   True          4
393   True          4
394   True          4
395   True          4
396   True          4

[397 rows x 2 columns]

In [4]:
auto_df[['mpg01']].to_csv('answer1.csv',index=True)