In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence \
import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm
from ISLP.models import (ModelSpec as MS,
summarize,
poly)

# load data
train_df = pd.read_csv("train.csv")

In [2]:
train_df.columns

Index(['ID', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name', 'mpg01'],
      dtype='object')

In [3]:
#select variables/features for model
#only using 2 variables, you can use more if you want
feature_columns = ['horsepower', 'weight']

#create model matrix with features
model_matrix = MS(feature_columns)

#fit transform the training df
X_train = model_matrix.fit_transform(train_df)

#set the output target (predicting mpg)
target_column = 'mpg'
y_train = train_df[target_column]

#define the model, train and target
model1 = sm.OLS(y_train, X_train)

#fit the data to the model defn
fitted_model1 = model1.fit()

#print results
summarize(fitted_model1)

               coef  std err       t  P>|t|
intercept   45.7415    0.791  57.858    0.0
horsepower  -0.0477    0.011  -4.305    0.0
weight      -0.0058    0.001 -11.561    0.0

In [4]:
#load the data with no mpg
test_df = pd.read_csv("test.csv")

#transport the input using model matrix
X_test = model_matrix.transform(test_df)

#use fitted model to predict mpg
y_test_pred = fitted_model1.predict(X_test)

#set column to mpg
test_df["mpg"] = y_test_pred
test_df

,ID,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,mpg
0,70_chevrolet chevelle malibu_alpha_3505,8,310.0,128,3505,12.0,70,1,chevrolet chevelle malibu_alpha,19.278295
1,71_buick skylark 320_bravo_3697,8,351.0,165,3697,11.5,71,1,buick skylark 320_bravo,16.397150
2,70_plymouth satellite_charlie_3421,8,320.0,150,3421,11.0,70,1,plymouth satellite_charlie,18.715877
3,68_amc rebel sst_delta_3418,8,303.0,150,3418,12.1,68,1,amc rebel sst_delta,18.733298
4,70_ford torino_echo_3444,8,298.0,141,3444,10.4,70,1,ford torino_echo,19.011944
...,...,...,...,...,...,...,...,...,...,...
392,81_ford mustang gl_charlie_2802,4,136.0,88,2802,15.5,81,1,ford mustang gl_charlie,25.269941
393,81_vw pickup_delta_2137,4,96.0,51,2137,24.5,81,2,vw pickup_delta,30.897720
394,82_dodge rampage_echo_2290,4,136.0,81,2290,11.5,82,1,dodge rampage_echo,28.577195
395,81_ford ranger_foxtrot_2611,4,118.0,79,2611,18.5,81,1,ford ranger_foxtrot,26.808671
396,84_chevy s-10_golf_2724,4,117.0,80,2724,19.4,84,1,chevy s-10_golf,26.104763

In [5]:
#export csv for kaggle
test_df[["ID","mpg"]].to_csv('predicted.csv',index=False)